:root {
  --color-primary: #007bff;
  --color-secondary: #6c757d;
  --color-success: #28a745;
  --color-danger: #dc3545;
  --color-warning: #ffc107;
  --color-info: #17a2b8;
  --color-light: #ffffff;
  --color-dark: #1d1d1d;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: var(--color-dark);
  color: var(--color-light);
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}